.background {
    background: url("/static/img/backgroundStory.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.square{ 
    margin-top: 50px;
    padding: 10px;
    position: relative;
    width: 50%; 
    height: 1200px;
    background-color: rgb(121, 63, 24);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  
.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  
.content {
    position: absolute;
    width: 100%;
    height: 100%;
}

.fa {
    padding: 20px;
    font-size: 40px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 1;
  }
  
  .fa-instagram {
      background: #78a0b8;
      color: blanchedalmond;
  }
