.container {
    width: 100%;
    height: auto;
    margin: 4%;
    margin-top: 13%;
}
  
.item {
    padding-left: 3%;
    display: block;
    width: 90%;
    height: 40px;
    line-height: 40px;
    background:  black;
    border: 1px solid  #FEF9CF;
    cursor: pointer;
    color: white;
    border-radius: 5px;
}
  
.item-data {
    display: none; 
    width: 90%;
    height: auto;
    border: 1px solid #ccc;
    margin-bottom: 1%;
}
  
.active {
    background:  #fffdee;
    color: #000;
}

.item-data div{
    margin: 5%;
}
