{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
<title>Story 1</title>
{% endblock meta %}

{% block content %}
    <div class="background">
        <div class="square" style="color: blanchedalmond;">
            <div class="content"></div>
                <!--short description about me-->
                <br>
                <img src="{% static 'img/me.jpg' %}" alt="My Photo" style="max-width: 60%", height="auto">
                <h1>ABOUT ME</h1>
                <p>Hello! My name is Faizah from Information System in University of Indonesia 2019</p>
                <p>Now, I am a student in third term</p>
                <p>My NPM is 1906298885</p>
                <p>I like watching movies</p><br>

                <!--educational background table-->
                <h3>EDUCATIONAL BACKGROUND</h3>
                <table style="width:50%", border="1px", align="center">
                <tr>
                    <th>School</th>
                    <th>Year</th> 
                </tr>
                <tr>
                    <td>12 Benhil Elementary School</td>
                    <td>2007-2013</td>
                </tr>
                <tr>
                    <td>12 Islamic Junior High School</td>
                    <td>2013-2016</td>
                </tr>
                <tr>
                    <td>70 Senior High School</td>
                    <td>2016-2019</td>
                </tr>
                </table><br>

                <!--my contact-->
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <h3>CONTACT</h3>
                <a class="fa fa-instagram"></a>
                <p>faizah.fai</p>
            </div>
        </div>
    </div>
{% endblock content %}
