{% extends 'base.html' %}
{% load static %}

{% block meta %}

    <title>About Me</title>
    <link rel="stylesheet" href="{% static 'css/about_style.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
{% endblock meta %}

{% block content %}

<div class='container'>
    
        <h1 style="font-weight: 400;">ABOUT ME</h1>
        <div class='item'>Educational Background</div>
            <div class='item-data'>
                <div>
                    <ul>
                        <li>12 Benhil Elementary School</li>
                        <li>12 Islamic Junior High School</li>
                        <li>70 Senior High School</li>
                        <li>University of Indonesia</li>
                    </ul>
                </div>
            </div>

        <div class='item'>Activity</div>
            <div class='item-data'>
                <div>
                    <p>
                        I am a student of Information System in University of Indonesia 2019.
                        And now, i am learning about Front-End Developer in PPW's subject.
                        I am learning from home now because of COVID-19 in this world.
                    </p>
                </div>
            </div>

        <div class='item'>Experience</div>
            <div class='item-data' >
                <div>
                    <p>Organization</p>
                    <ul>
                        <li>PIC of Wall Magazine of ROHIS 70</li>
                        <li>MDC FUKI Staff</li>
                    </ul>
                    <p>Committee</p>
                    <ul>
                        <li>Documentation Staff of Setara</li>
                        <li>Equipment Staff of SIWAK-NG</li>
                    </ul>
                </div>
            </div>

        <div class='item'>Achievement</div>
            <div class='item-data' >
                <div>The third winner of math competition - 2016</div>
            </div>  
    </div>
{% endblock content %}
