{% extends 'base.html' %}

{% load static %}
{% block meta %}
<title>Activities</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/coursesstyle.css' %}">
{% endblock meta %}

{% block content %}
<br><br><br>

<div class="center-column" style="height: 800px;">
    <h3>My Activities</h3>
    <form method="POST" action="/my_activity/">
        {% csrf_token %}
        {{activity_form}}
        <input class="btn btn-info submit" type="submit" name="Add Activity">
        {{participant_form}}
        <input class="btn btn-info submit" type="submit" name="Add Participant">
    </form>
    
        <p>My Activities</p>
        <p>Add Activity</p>
        <p>Add Participant</p>
</div>

{% endblock content %}
