{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Courses</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/coursesstyle.css' %}">
{% endblock meta %}

{% block content %}
    <br><br><br>

    <div class="center-column">
        <form method="POST" action="/courses/">
            {% csrf_token %}
            {{form}}
            <input class="btn btn-info submit" type="submit" name="Add Course">
        </form>

        {% for course in courses %}
            <div class="item-row">
                <a href="{% url 'main:detail_course' course.id %}"><p>{{course.course}}</p></a>
                <a class="btn btn-sm btn-info submit" href="{% url 'main:update_course' course.id %}">Update</a>
                <a class="btn btn-sm btn-danger" href="{% url 'main:delete_course' course.id %}">Delete</a>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
