{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Delete Course</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/coursesstyle.css' %}">
{% endblock meta %}

{% block content %}  
    <br><br><br>

    <div class="center-column" style="height: 200px;">
        <div class="text-center">
            <p>Delete "{{item.course}}"?</p>
            <a class="btn btn-danger" style="width: 100px;" href="{% url 'main:courses' %}">Cancel</a>

            <form method="POST", action="">
                {% csrf_token%}
                <input class="btn btn-info submit" style="width: 100px;" type="submit"  value="Confirm">
            </form>
        </div>
    </div>
{% endblock content %}
