{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Detail of Courses</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/coursesstyle.css' %}">
{% endblock meta %}

{% block content %}
    <br><br><br>

    <div class="center-column" style="height: auto;">
        <p>{{item.course}}</p>
        <p>{{item.termnyear}}</p>
        <p>Lecturer: {{item.lecturer}}</p>
        <p>{{item.credit}} SKS</p>
        <p>{{item.description}}</p>
        <p>In {{item.room}} room</p>
    </div>
{% endblock content %}
