{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Gallery</title>
{% endblock meta %}

{% block content %}
<!--gallery text-->
    <br><br><br>   
    <div class="text-center">
        <img src="{% static 'img/gallery.png' %}" class="img-fluid" alt="GalleryText"><br><br>
    </div>

    <!--photos-->
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <img src="{% static 'img/quote.jpg' %}" class="img-fluid" alt="Quote">
                <img src="{% static 'img/mirror.jpg' %}" class="img-fluid" alt="Mirror" width="400px" height="400px">
                <img src="{% static 'img/april.jpg' %}" class="img-fluid" alt="April">
                <img src="{% static 'img/friends.jpg' %}" class="img-fluid" alt="Friend">
                <img src="{% static 'img/jellyfish.jpg' %}" class="img-fluid" alt="Jellyfish">
                <img src="{% static 'img/puzzle.jpg' %}" class="img-fluid" alt="Puzzle">
            </div>
        </div>
    </div><br><br>
{% endblock content %}
