{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Homepage</title>
{% endblock meta %}

{% block content %}
  <!--name and photo-->
  <br><br><br>
  <div class="text-center">
    <img src="{% static 'img/hello.png' %}" class="img-fluid" alt="Hello">
    <br>
    <img src="{% static 'img/myname.png' %}" class="img-fluid" alt="My Name">
    <br>
    <img src="{% static 'img/myphoto.png' %}" class="img-fluid" alt="My Photo">
  </div>

  <!--aboout me-->
  <div class="jumbotron jumbotron-fluid" style="background-color: #ffecb7;">
    <div class="container">
      <h1 class="display-4";">About Me</h1>
      <hr class="my-4">
      <p class="lead">I live in Central Jakarta since I was born. Now, I am a second year 
        student of Information System in University of Indonesia. And I am learning about Front End Developer in my college.
        Hope you enjoy this website.
      </p>
    </div>
  </div>

  <!--educational background-->
  <div class="jumbotron jumbotron-fluid" style="background-color: #ffc982;">
    <div class="container" style="text-align: right;">
      <h1 class="display-4">Educational Background</h1>
      <hr class="my-4">
      <p class="lead">12 Benhil Elementary School</p>
      <p class="lead">12 Islamic Junior High School</p>
      <p class="lead">70 Senior High School</p>
    </div>
  </div>

  <!--experience-->
  <div class="jumbotron jumbotron-fluid" style="background-color: #ff9b6d;">
    <div class="container">
      <h1 class="display-4";>Experience</h1>
      <hr class="my-4">
      <p class="lead" style="font-weight: 400;">70 Senior High School</p>
      <ul style="display: inline;">PIC of Wall Magazine of ROHIS 70</ul>
      <ul>Documentation Staff of Setara</ul>
      <p class="lead" style="font-weight: 400;">University of Indonesia</style></p>
      <ul style="display: inline;">MDC FUKI Staff</ul>
      <ul>Equipment Staff of SIWAK-NG</ul>
    </div>
  </div>
{% endblock content %}
