{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Update Course</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/coursesstyle.css' %}">
{% endblock meta %}

{% block content %}
    <br><br><br>

    <div class="center-column" style="height: 800px;">
        <h3>Update Course</h3>
        <form method="POST", action="">
            {% csrf_token %}

            {{form}}
            <input class="btn btn-info submit" type="submit" name="Update Course">
        </form>
    </div>
{% endblock content %}
