input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input::placeholder {
    color: #d3d3d3;
}

.submit{
    background-color: #333333;
}

.center-column{
    position: relative;
    width:50%;
    max-height: fit-content;
    margin: 20px auto;
    padding:20px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
}

.center-column:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

.item-row{
    background-color: #f8e2a7;
    margin: 10px;
    padding: 20px;
    border-radius: 3px;
    color: rgb(17, 17, 17);
    font-size: 16px;
    box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
}
