{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Story 8</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
{% endblock meta %}

{% block content %}
    
    <div style="margin-top: 10%; text-align: center;"> 
        <h1>What book are you looking for?</h1>
        <input id="keyword" placeholder="Enter a book title" size="50%" style="margin: 2%;">
    </div>

    <div class="container" style="text-align: center;">
        <div class="table-responsive">
            <h1>Book List</h1>
            <br>
            <table class="table table-bordered table-striped" id="book_table">
                <tr style="background-color: rgb(36, 34, 30); color: #FEF9CF;">
                    <th style="text-align: center;">No.</th>
                    <th style="text-align: center;">Title</th>
                    <th style="text-align: center;">Cover</th>
                    <th style="text-align: center;">Author</th>
                </tr>
            </table>
        </div>

    </div>

    <script type="text/javascript">
            
        var web_book_url = '/story8/book-list?q=jquery';
        var web_book_data = $("#book_table");

        $.ajax({
            url: web_book_url,
            success: function(result) {
                web_book_data.empty();
                web_book_data.append('<tr style="background-color: rgb(36, 34, 30); color: #FEF9CF;">' +
                    '<th style="text-align: center;">No.</th>' +
                    '<th style="text-align: center;">Title</th>' + 
                    '<th style="text-align: center;">Cover</th>' +
                    '<th style="text-align: center;">Author</th></tr>');


                for (i = 0; i < result.items.length; i++) {
                    var book_number = i+1 + ".";
                    var book_title = result.items[i].volumeInfo.title;
                    var book_author = result.items[i].volumeInfo.authors;
                    var book_thumbnail = result.items[i].volumeInfo.imageLinks.thumbnail;
                    web_book_data.append('<tr><td>' + book_number + '</td><td>' + book_title + '</td><td><img src=' +
                        book_thumbnail + '</td><td>'+ book_author + '</td></tr>');
                }
            }
        });
        

        $("#keyword").keydown( function() {
            var keyword_content = $("#keyword").val();
            var book_url = '/story8/book-list?q=' + keyword_content;
            var book_data = $("#book_table");

            $.ajax({
                url: book_url,
                success: function(result) {
                    book_data.empty();
                    book_data.append('<tr style="background-color: rgb(36, 34, 30); color: #FEF9CF;">' +
                        '<th style="text-align: center;">No.</th>' +
                        '<th style="text-align: center;">Title</th>' + 
                        '<th style="text-align: center;">Cover</th>' +
                        '<th style="text-align: center;">Author</th></tr>');


                    for (i = 0; i < result.items.length; i++) {
                        var book_number = i+1 + ".";
                        var book_title = result.items[i].volumeInfo.title;
                        var book_author = result.items[i].volumeInfo.authors;
                        var book_thumbnail = result.items[i].volumeInfo.imageLinks.thumbnail;
                        book_data.append('<tr><td>' + book_number + '</td><td>' + book_title + '</td><td><img src=' +
                            book_thumbnail + '</td><td>'+ book_author + '</td></tr>');
                    }
                }
            });
        });
    </script>
{% endblock content %}
